Package: seb-dotfiles
Version: <<VERSION_NUMBER>>
Section: base
Priority: optional
Architecture: amd64
Depends: git (>= 1:2.1.4-2.1)
Maintainer: Seb Glazebrook <sebastianglazebrook@gmail.com>
Description: SebG's Dotfiles
 Get your dotfiles going on
